[submodule "HECS.Core"]
	path = HECS.Core
url=git@github.com:IconGames/HECSFramework.Core.git
[submodule "HECS.Unity"]
	path = HECS.Unity
url=git@github.com:IconGames/HECSFramework.Unity.git
[submodule "HECS.Serialize"]
	path = HECS.Serialize
url=git@github.com:IconGames/HECSFramework.Serialize.git
[submodule "HECS.Strategies"]
	path = HECS.Strategies
url=git@github.com:IconGames/HECSFrameworkStrategies.git
[submodule "HECS.UnitySerialization"]
	path = HECS.UnitySerialization
url=git@github.com:IconGames/HECSFramework.UnitySerialization.git
[submodule "HECS.Strategies.Unity"]
	path = HECS.Strategies.Unity
url=git@github.com:IconGames/HECSFramework.Strategies.Unity.git
[submodule "HECS.Strategies.Serialization"]
	path = HECS.Strategies.Serialization
url=git@github.com:IconGames/HECSFramework.Strategies.Serialization.git